.main{
   
    background-image: url("/assets/image/hotel6 (1).jpg") ;
    width: 1500px;
    height: 900px;
background-size: cover;

 color: aliceblue;


}

.container{
    border: 2px solid black   ;
    border-radius: 20px;
    
    position: relative;
    width: 300px;
  
    padding: 11px 10px;
    background-color: rgb(178, 160, 221);
   font-family: 'Times New Roman', Times, serif ;
   font-style: italic,blood;
    text-align: center;
    margin-left:130px;
    
}
.err{
    color: red;
}

.head{
    
    margin-left:220px;
}

.p-viewer{
    position: absolute;
    color: black;
    left:170px;
}
.date{
    position: absolute;
    color: black;
    left:170px;
}