<div class="main">
    <button mat-raised-button color="warn" (click)="back()">Back</button>
    <h2 class="head">Hotel-Registration Form!</h2>

<form class="container" [formGroup]="hotelRegisterForm" >
    
        <mat-form-field>
            <mat-label>Enter The Owner Name</mat-label>
            <input type="text" matInput formControlName="ownerName">
          
            <mat-hint *ngIf="!hotelRegisterForm.get('ownerName')?.touched">Please Enter Owner Name </mat-hint>
            <mat-error>User Name is <strong>required</strong></mat-error>
            <span class="err" *ngIf="hotelRegisterForm.get('ownerName')?.errors?.['maxlength']">Maximum 10 character's
                allowed</span>
            <span class="err" *ngIf="hotelRegisterForm.get('ownerName')?.errors?.['minlength']">Minimum 4 character's
                allowed</span>
        </mat-form-field><br>
        <mat-form-field>
            <mat-label>Owner Mobile Number</mat-label>
            <input type="text" matInput>
        </mat-form-field><br>
        <mat-form-field>
            <mat-label>Enter  Hotel Name</mat-label>
            <input type="text" matInput>
        </mat-form-field><br>
        <mat-form-field>
            <mat-label>Enter  Hotel  Address</mat-label>
            <input type="text" matInput>
        </mat-form-field><br>
        <mat-form-field>
            <mat-label>Hotel Contact Number</mat-label>
            <input type="text" matInput>
        </mat-form-field><br>

        <mat-form-field>
            <mat-label>Password</mat-label>
            <input type="text" matInput>
        </mat-form-field><br>
        

        <mat-form-field> 
        <mat-label>Menu</mat-label>
            <input type="text" matInput>
        </mat-form-field><br>
        <mat-form-field> 
        <mat-label>Room Available</mat-label>
        <select matNativeControl > 
            <option value="" selected></option> 
            <option value="1">1</option> 
            <option value="2">2</option> 
            <option value="3">3</option> 
            <option value="4">4</option> 
            <option value="5">5</option> 
            <option value="6">6</option> 
            <option value="7">7</option> 
            <option value="8">8</option> 
            <option value="9">9</option> 
            <option value="10">10</option> 
          </select> 
    </mat-form-field><br>

    <mat-checkbox  >I agree all statements in Terms and Conditions </mat-checkbox> <br>

    <button mat-raised-button color="primary" (click)="hotelRegister()" >Submit</button> 
</form>

</div>
